body {
    background     : url(../img/bg.jpg) no-repeat;
    background-size: auto;
    padding        : .2rem;
}
canvas{
    height: 3.3rem !important;
}

// 按钮当前颜色
.current_color {
    background-color: #109980 !important;
}

/* 页面头部区域 */
ul.top {
    width              : 100%;
    height             : .6042rem;
    display            : flex;
    flex-direction     : row;
    border-bottom      : 1px solid #0B6759;
    // background-color: pink;
    align-items        : flex-end;

    li.t_li {
        flex : 1;
        color: #fff;

        &:nth-child(1) {
            ol {
                display       : flex;
                flex-direction: row;
            }

            ol li {
                flex      : 1;
                height    : .5rem;
                text-align: center;

                button {
                    border          : none;
                    width           : 1.2rem;
                    height          : 0.39rem;
                    border-radius   : .06rem;
                    font-size       : .15rem;
                    background-color: rgb(105, 103, 103);
                }
            }
        }

        &:nth-child(2) {
            flex      : 2;
            text-align: center;
            color     : #fff;

            h2 {
                font-size  : .34rem;
                line-height: .6rem;
                font-weight: normal;
            }

        }

        &:nth-child(3) {
            .t_icons {
                display       : flex;
                flex-direction: row;
            }

            .t_icons li {
                flex: 1;


                i {
                    font-size: .125rem;
                    display  : block;
                    margin   : .0625rem;
                }

                span {
                    font-size: .125rem;
                }

                &:nth-child(1) {
                    flex    : 3;
                    overflow: hidden;

                    span:first-child {
                        color    : #0D876A;
                        font-size: .25rem;
                    }

                    span:last-child {
                        font-size: .07rem !important;
                        color    : #fff;
                    }
                }

                &:nth-child(2) {
                    flex      : 2;
                    margin-top: .0521rem;

                    div.t_left {
                        float: left;

                        i {
                            font-size: .2083rem;
                        }
                    }

                    div.t_right {
                        div {
                            font-size: .1042rem;
                        }
                    }
                }


            }
        }

    }
}

//中部区域
.maint{
    width: 100%;
    background-color: #fff;
    height: 6.1458rem;
    display: flex;
    flex-direction: row;
    margin-top: .1563rem;
        .l_t_left{
            height: 6.1458rem;
            width: 12.8rem;
            margin-right: .1042rem;
            
        }
    
        .l_t_right{
            height: 6.1458rem;
            width: 6.1042rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: .05rem;
            >div{
            flex: 1;
            }
        }

    
    
    
}

// 底部区域


// 公共面板
.panel {
    border  : 1px solid #109980;
    position: relative;

    &::before {
        position   : absolute;
        top        : 0;
        left       : 0;
        content    : "";
        width      : .1rem;
        height     : .1rem;
        border-left: 1px solid #fff;
        border-top : 1px solid #fff;
    }

    &::after {
        position    : absolute;
        top         : 0;
        right       : 0;
        content     : "";
        width       : .1rem;
        height      : .1rem;
        border-right: 1px solid #fff;
        border-top  : 1px solid #fff;
    }

    .panel-footer {
        position: absolute;
        bottom  : 0;
        left    : 0;
        border  : none;
        width   : 100%;

        &::before {
            content      : "";
            position     : absolute;
            bottom       : 0;
            left         : 0;
            width        : .1rem;
            height       : .1rem;
            border-bottom: 1px solid #fff;
            border-left  : 1px solid #fff;
        }

        &::after {
            content      : "";
            position     : absolute;
            bottom       : 0;
            right        : 0;
            width        : .1rem;
            height       : .1rem;
            border-bottom: 1px solid #fff;
            border-right : 1px solid #fff;
        }
    }

}

// 统一设置标题
.f_1 {
    overflow: hidden;
}